CREATE DATABASE [AgentieFotomodele]
GO
USE [AgentieFotomodele]
GO
/****** Object:  Table [dbo].[CategoriiEvenimente]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriiEvenimente](
	[IDCatEveniment] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Descriere] [nvarchar](100) NULL,
	[IDResponsabil] [int] NULL,
 CONSTRAINT [PK_Categorii Evenimente] PRIMARY KEY CLUSTERED 
(
	[IDCatEveniment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriiInaltimi]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriiInaltimi](
	[IDCatInaltime] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[LimitaInferioara] [numeric](3, 2) NULL,
	[LimitaSuperioara] [numeric](3, 2) NULL,
 CONSTRAINT [PK_Categorii Inaltimi] PRIMARY KEY CLUSTERED 
(
	[IDCatInaltime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenimente]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenimente](
	[IDEveniment] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Descriere] [nvarchar](100) NULL,
	[IDCatEveniment] [int] NOT NULL,
	[Plata] [numeric](8, 2) NULL,
	[Localitate] [nvarchar](50) NOT NULL,
	[Tara] [nvarchar](50) NULL,
	[Datainceperii] [date] NOT NULL,
	[Durata(zile)] [int] NULL,
	[Organizator] [nvarchar](50) NULL,
 CONSTRAINT [PK_Evenimente] PRIMARY KEY CLUSTERED 
(
	[IDEveniment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresari]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresari](
	[IDImpresar] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[CNP] [char](13) NULL,
	[DataNasterii] [date] NULL,
	[DataAngajarii] [date] NULL,
 CONSTRAINT [PK_Impresari] PRIMARY KEY CLUSTERED 
(
	[IDImpresar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modele]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modele](
	[IDModel] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[CNP] [char](13) NULL,
	[DataNasterii] [date] NOT NULL,
	[DataAngajarii] [date] NOT NULL,
	[Sex] [char](1) NULL,
	[IDCatInaltime] [int] NULL,
	[Greutate] [numeric](4, 1) NULL,
	[Nationalitate] [nvarchar](50) NULL,
	[CuloarePar] [nvarchar](50) NULL,
	[CuloareOchi] [nvarchar](50) NULL,
	[IDImpresar] [int] NULL,
 CONSTRAINT [PK_Modele] PRIMARY KEY CLUSTERED 
(
	[IDModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModeleEvenimente]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModeleEvenimente](
	[IDModel] [int] NOT NULL,
	[IDEveniment] [int] NOT NULL,
 CONSTRAINT [PK_ModeleEvenimente] PRIMARY KEY CLUSTERED 
(
	[IDEveniment] ASC,
	[IDModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.03.2026 12:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[E-mail] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriiEvenimente] ON 

INSERT [dbo].[CategoriiEvenimente] ([IDCatEveniment], [Nume], [Descriere], [IDResponsabil]) VALUES (1, N'Reclame TV', N'Participarea in filmarea reclamelor TV', 7)
INSERT [dbo].[CategoriiEvenimente] ([IDCatEveniment], [Nume], [Descriere], [IDResponsabil]) VALUES (2, N'Cataloage', N'Prezentare colectii vestimentare noi in cataloagele de moda', 8)
INSERT [dbo].[CategoriiEvenimente] ([IDCatEveniment], [Nume], [Descriere], [IDResponsabil]) VALUES (3, N'Festival de moda', N'Participare in diverse festivaluri', 5)
SET IDENTITY_INSERT [dbo].[CategoriiEvenimente] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriiInaltimi] ON 

INSERT [dbo].[CategoriiInaltimi] ([IDCatInaltime], [Nume], [LimitaInferioara], [LimitaSuperioara]) VALUES (1, N'Scund/a', CAST(1.50 AS Numeric(3, 2)), CAST(1.57 AS Numeric(3, 2)))
INSERT [dbo].[CategoriiInaltimi] ([IDCatInaltime], [Nume], [LimitaInferioara], [LimitaSuperioara]) VALUES (4, N'Mediu-Inalt/a', CAST(1.76 AS Numeric(3, 2)), CAST(1.87 AS Numeric(3, 2)))
INSERT [dbo].[CategoriiInaltimi] ([IDCatInaltime], [Nume], [LimitaInferioara], [LimitaSuperioara]) VALUES (6, N'Scund-Mediu', CAST(1.57 AS Numeric(3, 2)), CAST(1.64 AS Numeric(3, 2)))
SET IDENTITY_INSERT [dbo].[CategoriiInaltimi] OFF
GO
SET IDENTITY_INSERT [dbo].[Evenimente] ON 

INSERT [dbo].[Evenimente] ([IDEveniment], [Nume], [Descriere], [IDCatEveniment], [Plata], [Localitate], [Tara], [Datainceperii], [Durata(zile)], [Organizator]) VALUES (2, N'Paris Fashion Week', N'Eveniment ce contine diverse prezentari de moda si lansari de colectii', 3, CAST(3000.00 AS Numeric(8, 2)), N'Paris', N'Franta', CAST(N'2023-06-18' AS Date), 7, N'Royal Models Agency')
INSERT [dbo].[Evenimente] ([IDEveniment], [Nume], [Descriere], [IDCatEveniment], [Plata], [Localitate], [Tara], [Datainceperii], [Durata(zile)], [Organizator]) VALUES (3, N'Reclama parfum "Amelia"', N'Filmare reclama', 1, CAST(1000.00 AS Numeric(8, 2)), N'Bucuresti', N'Romania', CAST(N'2022-11-05' AS Date), 1, N'Amelia')
INSERT [dbo].[Evenimente] ([IDEveniment], [Nume], [Descriere], [IDCatEveniment], [Plata], [Localitate], [Tara], [Datainceperii], [Durata(zile)], [Organizator]) VALUES (5, N'Rome contest', N'Concurs de frumusete', 5, CAST(2000.00 AS Numeric(8, 2)), N'Roma', N'Italia', CAST(N'2022-02-26' AS Date), 3, N'President Models')
SET IDENTITY_INSERT [dbo].[Evenimente] OFF
GO
SET IDENTITY_INSERT [dbo].[Impresari] ON 

INSERT [dbo].[Impresari] ([IDImpresar], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii]) VALUES (1, N'Mircea', N'Ionescu', N'5002211336655', CAST(N'1985-12-13' AS Date), CAST(N'2015-01-10' AS Date))
INSERT [dbo].[Impresari] ([IDImpresar], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii]) VALUES (3, N'Mircea', N'Popescu', N'5007711336655', CAST(N'1986-01-21' AS Date), CAST(N'2014-09-18' AS Date))
INSERT [dbo].[Impresari] ([IDImpresar], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii]) VALUES (4, N'Ion', N'Popescu', N'50011336657  ', CAST(N'1990-02-17' AS Date), CAST(N'2014-05-09' AS Date))
SET IDENTITY_INSERT [dbo].[Impresari] OFF
GO
SET IDENTITY_INSERT [dbo].[Modele] ON 

INSERT [dbo].[Modele] ([IDModel], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii], [Sex], [IDCatInaltime], [Greutate], [Nationalitate], [CuloarePar], [CuloareOchi], [IDImpresar]) VALUES (3, N'Popescu', N'Iulia', N'4212135698745', CAST(N'1995-01-30' AS Date), CAST(N'2019-09-05' AS Date), N'F', 1, CAST(54.8 AS Numeric(4, 1)), N'Roman', N'Violet', N'Albastru', 4)
INSERT [dbo].[Modele] ([IDModel], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii], [Sex], [IDCatInaltime], [Greutate], [Nationalitate], [CuloarePar], [CuloareOchi], [IDImpresar]) VALUES (10, N'Gheorghe', N'Ioana', N'8981103180079', CAST(N'1997-11-03' AS Date), CAST(N'2020-07-21' AS Date), N'F', 6, CAST(53.5 AS Numeric(4, 1)), N'Roman', N'Blond', N'Caprui', 4)
INSERT [dbo].[Modele] ([IDModel], [Nume], [Prenume], [CNP], [DataNasterii], [DataAngajarii], [Sex], [IDCatInaltime], [Greutate], [Nationalitate], [CuloarePar], [CuloareOchi], [IDImpresar]) VALUES (11, N'Stan', N'Rebeca', N'6000111180016', CAST(N'2000-01-12' AS Date), CAST(N'2019-05-19' AS Date), N'F', 7, CAST(52.6 AS Numeric(4, 1)), N'Roman', N'Negru', N'Verde', 6)
SET IDENTITY_INSERT [dbo].[Modele] OFF
GO
INSERT [dbo].[ModeleEvenimente] ([IDModel], [IDEveniment]) VALUES (3, 2)
INSERT [dbo].[ModeleEvenimente] ([IDModel], [IDEveniment]) VALUES (11, 2)
INSERT [dbo].[ModeleEvenimente] ([IDModel], [IDEveniment]) VALUES (11, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Nume], [Prenume], [Username], [Password], [E-mail], [Telefon]) VALUES (1, N'Mihai', N'Mihai', N'mihai1', N'parolatest', N'testemail@email.com', N'0700000000')
INSERT [dbo].[Users] ([UserID], [Nume], [Prenume], [Username], [Password], [E-mail], [Telefon]) VALUES (7, N'Ion', N'Ion', N'Ion', N'ion', N'ion@ion.com', N'0012345678')
INSERT [dbo].[Users] ([UserID], [Nume], [Prenume], [Username], [Password], [E-mail], [Telefon]) VALUES (9, N'Virgil', N'Adi', N'virgiladi', N'virgiladi123', N'virgiladi@gmail.com', N'0707070707')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Impresari]    Script Date: 02.03.2026 12:37:57 ******/
ALTER TABLE [dbo].[Impresari] ADD  CONSTRAINT [IX_Impresari] UNIQUE NONCLUSTERED 
(
	[CNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Modele]    Script Date: 02.03.2026 12:37:57 ******/
ALTER TABLE [dbo].[Modele] ADD  CONSTRAINT [IX_Modele] UNIQUE NONCLUSTERED 
(
	[CNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Modele] ADD  CONSTRAINT [DF_Modele_Sex]  DEFAULT ('F') FOR [Sex]
GO
ALTER TABLE [dbo].[CategoriiEvenimente]  WITH CHECK ADD  CONSTRAINT [FK_CategoriiEvenimente_Impresari] FOREIGN KEY([IDResponsabil])
REFERENCES [dbo].[Impresari] ([IDImpresar])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CategoriiEvenimente] CHECK CONSTRAINT [FK_CategoriiEvenimente_Impresari]
GO
ALTER TABLE [dbo].[Evenimente]  WITH CHECK ADD  CONSTRAINT [FK_Evenimente_CategoriiEvenimente] FOREIGN KEY([IDCatEveniment])
REFERENCES [dbo].[CategoriiEvenimente] ([IDCatEveniment])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Evenimente] CHECK CONSTRAINT [FK_Evenimente_CategoriiEvenimente]
GO
ALTER TABLE [dbo].[Modele]  WITH CHECK ADD  CONSTRAINT [FK_Modele_CategoriiInaltimi] FOREIGN KEY([IDCatInaltime])
REFERENCES [dbo].[CategoriiInaltimi] ([IDCatInaltime])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Modele] CHECK CONSTRAINT [FK_Modele_CategoriiInaltimi]
GO
ALTER TABLE [dbo].[Modele]  WITH CHECK ADD  CONSTRAINT [FK_Modele_Impresari] FOREIGN KEY([IDImpresar])
REFERENCES [dbo].[Impresari] ([IDImpresar])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Modele] CHECK CONSTRAINT [FK_Modele_Impresari]
GO
ALTER TABLE [dbo].[ModeleEvenimente]  WITH CHECK ADD  CONSTRAINT [FK_ModeleEvenimente_Evenimente] FOREIGN KEY([IDEveniment])
REFERENCES [dbo].[Evenimente] ([IDEveniment])
GO
ALTER TABLE [dbo].[ModeleEvenimente] CHECK CONSTRAINT [FK_ModeleEvenimente_Evenimente]
GO
ALTER TABLE [dbo].[ModeleEvenimente]  WITH CHECK ADD  CONSTRAINT [FK_ModeleEvenimente_Modele] FOREIGN KEY([IDModel])
REFERENCES [dbo].[Modele] ([IDModel])
GO
ALTER TABLE [dbo].[ModeleEvenimente] CHECK CONSTRAINT [FK_ModeleEvenimente_Modele]
GO
ALTER TABLE [dbo].[Modele]  WITH CHECK ADD  CONSTRAINT [CK_Modele] CHECK  (([Sex]='F' OR [Sex]='M'))
GO
ALTER TABLE [dbo].[Modele] CHECK CONSTRAINT [CK_Modele]
GO
