html {
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('resources/dashboard.jpg');
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-align: center;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    text-align: left;
}

.box {
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  min-width: 500px;
  width: fit-content;
  height: fit-content;
  border: 15px solid transparent;
  padding: 20px;
  margin: 20px;
}

.bottom_right {
  position: fixed;
  border: 8px solid rgba(255, 255, 255, 0.6);
  right: 0px; bottom: 00px;
  width: 200px;
  height:150px;
  background-color:rgba(150, 5, 60, 0);
  box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 30px 0;
  padding: 5px;
}

input {
  width: 200px;
  padding: 5px 10px;
  margin: 10px 0px;
}

input[type=submit]{
  align: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  text-decoration: none;
  width: auto;
  margin:0 auto;
  display:block;
}

input[type=number]{

}

input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #fb8332;
}

input[type=submit]:active {
  background-color: #c85000;
}

select {
  width: 100%;
  padding: 5px 7px;
  border: none;
  border-radius: 4px;
  position: relative;
  font-family: Arial;   
}

option {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

select-selected {
  background-color: DodgerBlue;
}

option:hover {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
